# =============================================
# RustRover/IntelliJ IDEA
# =============================================
**/.idea/
**/*.iml
*.iml

# =============================================
# Rust/Cargo
# =============================================
# Directorios de compilación
**/target/
target/

# Archivo de bloqueo de dependencias
Cargo.lock

# =============================================
# Otros IDEs (opcional)
# =============================================
.vscode/
*.code-workspace
/unidad4/untitled1/target
/unidad4/untitled/target
/unidad3/clase/target
/unidad3/ejercicios/target
/unidad4/clase/target
/unidad2/ejercicios/tests/target
/unidad2/ejercicios/tests/target
/unidad3/clase/.idea
/unidad2/ejercicios/tests/target
/unidad4/clase/.idea
/unidad4/untitled1/.idea
/unidad3/ejercicios/.idea
/unidad4/untitled/.idea
